<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- Bei der Bereitstellung des Dienstbibliothekprojekts muss der Inhalt der Konfigurationsdatei der 
app.config-Datei des Hosts hinzugefügt werden. System.Configuration unterstützt keine Konfigurationsdateien für Bibliotheken. -->
  <system.serviceModel>
    <services>
      <service name="WcfServiceLibrary1.PluginService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/PluginService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="WcfServiceLibrary1.IPluginService">

          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
		<service name="WcfServiceLibrary1.NodeService">
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8000/test/NodeService" />
				</baseAddresses>
			</host>
			<endpoint address="" binding="wsDualHttpBinding" contract="WcfServiceLibrary1.INodeService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		</service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Legen Sie die Werte unten vor der Bereitstellung 
          auf "false" fest, um die Veröffentlichung von Metadateninformationen zu vermeiden. -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- Damit in Fehlern Ausnahmedetails zum Debuggen angezeigt werden, 
          legen Sie den Wert unten auf "true" fest. Legen Sie ihn vor der Bereitstellung auf "false" fest, 
          um die Veröffentlichung von Ausnahmeinformationen zu vermeiden. -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding transferMode="Streamed">
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
	<log4net>

		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ABSOLUTE} [%logger] %level - eventID:%property{eventID} - userID:%property{userID} [%property{NDC}] - %message - method -%method - line - %line%newline"/>
			</layout>
		</appender>
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<applicationName value="VerteilteSysLib"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ABSOLUTE} [%logger] %level - eventID:%property{eventID} - userID:%property{userID} [%property{NDC}] - %message - method -%method - line - %line%newline"/>
			</layout>
		</appender>
		<appender name="file" type="log4net.Appender.RollingFileAppender">
			<file value="C:\Logs\VerteilteSysLib\Entries.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="5"/>
			<maximumFileSize value="10MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ABSOLUTE} [%logger] %level - eventID:%property{eventID} - userID:%property{userID} [%property{NDC}] - %message - method -%method - line - %line%newline"/>
			</layout>

		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="EventLogAppender"/>
			<appender-ref ref="file"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
	</log4net>
</configuration>